<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <button (click)="getTasksFromService()" >Click Me</button>
  <p *ngFor="let task of tasks">
    {{ task.title }} <button (click)="showTaskFromService(task._id)" >Click Me</button>
    {{ task.description }}
  </p>
  <h3>Show Task</h3>
  {{ task.title }}<br>
  {{ task.description }}<br>
  {{ task.completed }}
</body>
</html>