<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore atque quibusdam deserunt quas quasi
        quidem
        laudantium maiores? Blanditiis velit hic rerum asperiores saepe quos quia facilis amet eos nulla!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore atque quibusdam deserunt quas quasi
        quidem
        laudantium maiores? Blanditiis velit hic rerum asperiores saepe quos quia facilis amet eos nulla!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore atque quibusdam deserunt quas quasi
        quidem
        laudantium maiores? Blanditiis velit hic rerum asperiores saepe quos quia facilis amet eos nulla!</p>

        <p> Are you going to send money?</p> 
        <a href="/next"> yes</a>
        <a href="/third"> no</a>
</body>

</html>