<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div>
      <form action="create" method="post">
         <p>Your Name</p>
         <input type="text" name="name">
         <p>Dojo Location</p>
         <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Dallas">Dallas</option>
         </select>
         <p>Favorite Language</p>
         <select name="language">
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Java">Java</option>
         </select>
         <p>Comment (Optional):</p>
         <textarea name="comment" cols="30" rows="10"></textarea>
         <input type="submit" value="submit">
      </form>
   </div>

</body>
</html>