<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="~/css/project.css">
</head>

<body>
   <a href="/">Home</a>  |  
   <a href="/project">Projects</a>  |  
   <a href="/contact">Contact</a>  |  
   <h1>Here are some projects of Mine!</h1>
   <div class="project-main">
      <div>
         <img src="~/image/ncaa.png" alt="ncaa">
         <div class="project-detail">
            <p>cool stuff</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem hic, quisquam quaerat</p>
         </div>
      </div>
      <div>
         <img src="~/image/nfl.png" alt="nfl">
         <div class="project-detail">
            <p>cool stuff</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem hic, quisquam quaerat</p>
         </div>
      </div>
      <div>
         <img src="~/image/ncaa.png" alt="ncaa">
         <div class="project-detail">
            <p>cool stuff</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem hic, quisquam quaerat</p>
         </div>
      </div>
      <div>
         <img src="~/image/nfl.png" alt="nfl">
         <div class="project-detail">
            <p>cool stuff</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem hic, quisquam quaerat</p>
         </div>
      </div>
   </div>
</body>

</html>