<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .header h5{
      display: inline-block;
      margin-right: 350px;
      margin-left: 20px;
    }
    .header button{
      display: inline-block;
      width: 150px;
      font-size: 9px;
      margin: 5px;
    }
    .header{
      background-color: grey;
      padding-top: 40px;
      padding-bottom: 35px;
    }
  </style>
  </head>
  <body>
    <div class="header">
      <h5>Welcome, Zach!</h5>
      <button>Edit My Profile</button>
      <button>Log</button>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>