@model User
<form action="/create/user" method="post">
   <div>
      <span asp-validation-for="FirstName"></span>
      <label asp-for="FirstName"></label>
      <input asp-for="FirstName">
   </div>
   <div>
      <span asp-validation-for="LastName"></span>
      <label asp-for="LastName"></label>
      <input asp-for="LastName">
   </div>
   <div>
      <span asp-validation-for="Email"></span>
      <label asp-for="Email"></label>
      <input asp-for="Email">
   </div>
   <div>
      <span asp-validation-for="Password"></span>
      <label asp-for="Password"></label>
      <input asp-for="Password">
   </div>
   <div>
      <span asp-validation-for="PasswordConfirmation"></span>
      <label asp-for="PasswordConfirmation"></label>
      <input asp-for="PasswordConfirmation">
   </div>
   <input type="submit">
</form>