<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <a href="">startSeason</a>
   <a href="/renderNewSeason">renderNewSeason</a>
   <a href="/1">nextSeason</a>
   <a href="/Homepage">index</a>
   <a href="/updateWeek"></a>
   <a href="/simEntireSeason">simEntireSeason</a>
   <a href="/seeGame">seeGame</a>
   <a href="/simGame">simGame</a>
   <a href="/seeSchedule/3">seeSchedule</a>
   <a href="/refreshSchedule">refreshSchedule</a>
   <a href="/seeStandings">seeStandings</a>
   <a href="/generateSeason">generateSeason</a>
   <a href="/seeRoster/3">seeRoster</a>
   <a href="/refreshRoster">refreshRoster</a>
   <a href="/recruits">recruits</a>
   <a href="/seePlayoffs">seePlayoffs</a>
</body>

</html>