<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   <h1>edit.ejs</h1>
   <form action="/update" method="POST">
      <input type="hidden" name="_id" value="<%= animal['_id']%>">
      <p>Name</p>
      <input type="text" name="name" value="<%= animal['name'] %>">
      <p>Age</p>
      <input type="text" name="age" value="<%= animal['age'] %>">
      <p>Role</p>
      <input type="text" name="role" value="<%= animal['role'] %>">
      <input type="submit" value="Submit">
   </form>
</html>