<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    a{
      margin-left: 40px;;
    }
    .routingiFrame{
      margin: 35px 25px;
      border: 7px solid black;
      padding: 15px;
      border-radius: 15px;
      height: 375px;
      overflow: scroll;
    }
    .angularHeader{
      margin: 10px;
    }
    </style>

</head>

<body>
  <div class="angularHeader">
    <h2>PPM - Project Product Management</h2>
    <a [routerLink]="['/products']">Home</a>
    <a [routerLink]="['/products','index']">Product List</a>
    <a [routerLink]="['/products','create']">Product Creation</a>
  </div>
  
  <div class="routingiFrame">
    <router-outlet></router-outlet>
  </div>
</body>

</html>