*{
    padding: 0px;
    margin: 0px;
}
#mainPage{
    background-color: grey;
    height: 700px;
    width: 700px;
    display: inline-block;
}
#headPage{
    background-color: green;
    min-height: 140x;
    /* width: 150px;
    height: 150px; */
    display: block;
}
#navigation{
    background-color: blue;
    /* min-height: 150px; */
    display: inline-block;
    width: 150px;
}
#footer{
    background-color: fuchsia;
    /* min-height: 150px; */
    display: inline-block;
    width: 150px;
    height: 150px;
}
#mainContent{
    background-color: red;
    min-height: 150px;
    display: inline-block;
    width: 150px;
}
.articles{
    background-color: yellow;
    /* min-height: 150px; */
    display: inline-block;
    width: 150px;
    height: 150px;
}
#advertisement{
    background-color: purple;
    /* min-height: 150px; */
    display: inline-block;
    width: 150px;
    height: 150px;
}