<!-- print out variable -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>Name: {{ formNameHTML }}</p>
    <p>location: {{ formLocationHTML }}</p>
    <p>Langage: {{ formLanguageHTML }}</p>
    <p>Teacher: {{ formTeacherHTML }}</p>
    <p>Comment: {{ formCommentHTML }}</p>

    <form action='/'>
        <input type='submit' value="Go Back">
      </form>
</body>
</html>

