<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    <h1>Dojo Weather Forecast</h1> 
    <a [routerLink]="['/dallas']">Dallas TX</a> | 
    <a [routerLink]="['/seattle']">Seattle WA</a> | 
    <a [routerLink]="['/sanjose']">San Jose CA</a> | 
    <a [routerLink]="['/burbank']">Burbank CA</a> | 
    <a [routerLink]="['/washington']">Washington D.C.</a> | 
    <a [routerLink]="['/chicago']">Chicago IL</a> 
  </div>

  <router-outlet></router-outlet>
</body>

</html>
<!-- 
  <app-seattle></app-seattle>
  <app-dallas  ></app-dallas>
  <app-sanjose></app-sanjose>
  <app-burbank></app-burbank>
  <app-chicago></app-chicago> 
  <app-washington></app-washington> -->