<!doctype html>
<html lang="en">

<head>
   <title>Title</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<a [routerLink]="['/authors','dashboard']">Dashboard View</a>

<form (submit)="createAuthor()">
   <input type="text" name="name" [(ngModel)]="newAuthor.name" >
   <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
   </div>
   <input type="submit">
</form>
</body>

</html>