<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="~/css/contacts.css">
</head>

<body>
   <a href="/">Home</a>  |  
   <a href="/project">Projects</a>  |  
   <a href="/contact">Contact</a>  |  
   <h1>Contact Me</h1>
   <form action="/">
      <div class="form-info">
         <p>Name</p>
         <input type="text" name="name">
         <p>Email</p>
         <input type="text" name="email">
      </div>
      <div class="form-details">
         <p>Message</p>
         <textarea name="message"cols="30" rows="10"></textarea>
         <input type="button" value="Send">
      </div>
   </form>
</body>

</html>