<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>

<body>
   <form action="/users" method="POST">
      <p>Name</p>
      <input type="text" name="name">
      <p>Age</p>
      <input type="text" name="age">
      <input type="submit" value="Submit">
   </form>
   <%= users %>
   <% if(typeof users != "undefined"){ %>
      <% for(i=0; i < users.length; i++){ %>
      <h1>User <%= i %></h1>
      <ul>
         <li>
            <%= users[i]["name"] %>
         </li>
         <li>
            <%= users[i]["age"] %>
         </li>
      </ul>
      <% } %>
   <% } %>
</body>

</html>