<!doctype html>
<html lang="en">

<head>
   <title>Title</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
   <h2>review-PARENT</h2>
   <app-allreviews></app-allreviews> 
   <button [routerLink]="['details', 5]">allreview</button>
   <app-author></app-author> 
   <button [routerLink]="['author', 5]">author</button>
   <app-review-detail></app-review-detail> 
   <button [routerLink]="['all', 5]">reviewDetail</button>


   ***Child***
   <router-outlet></router-outlet>
</body>

</html>