<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <style>
      .formPage{
         border: 5px solid black;
         margin: 25px;
         width: 250px;
      }
      p{
         margin: 0px;
         margin-top: 20px;
      }
   </style>
   <title>Document</title>
</head>

<body>
   <div class="formPage">
      <form action="/create" method="POST">
         <p>Your Name:</p>
         <input type="text" name="name">
         <p>Dojo Location:</p>
         <select  name="dojo">
            <option value="Mountain View">Mountain View</option>
            <option value="Austin Ranch">Austin Ranch</option>
         </select>
         <p>Favorite Language:</p>
            <select name="language">
               <option value="JavaScript">JavaScript</option>
               <option value="C#">C#</option>
            </select>
         <p>Comment (optional):</p>
         <textarea cols="30" rows="10" name="comment"></textarea>
         <input type="submit" value="Submit">
      </form>
   </div>
</body>

</html>