form{
   width: 600px;
   margin: 25px;
}
.form-info{
   display: inline-block;
   vertical-align: top;
   margin: 15px;
   border: 5px ridge gray;
   padding: 8px
}
.form-details{
   display: inline-block;
   vertical-align: top;
   margin: 15px;
   border: 5px ridge gray;
   padding: 8px
}