<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   <h1>new.ejs</h1>
   <a href="/">Back to Dashboard</a>

   <form action="/create" method="POST">
      <p>Name</p>
      <input type="text" name="name">
      <p>Age</p>
      <input type="text" name="age">
      <p>Role</p>
      <input type="text" name="role">
      <input type="submit" value="Submit">
   </form>
</body>
</html>