<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   <h1>Show.ejs</h1>
   <a href="/">Back to Dashboard</a>
      <h4>Name</h4>
      <p><%= animal["name"] %></p>
      <h4>Age</h4>
      <p><%= animal["age"] %></p>
      <h4>Role</h4>
      <p><%= animal["role"] %></p>
   </form>
</body>
</html>