<!doctype html>
<html lang="en">

<head>
   <title>Login and Registration</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
      .loginForm{
         display: inline-block;
         border: 2px solid black;
         margin-left: 30px;
         padding: 15px;
         vertical-align: top;
      }
      .registerForm{
         display: inline-block;
         border: 2px solid black;
         margin-left: 30px;
         padding: 15px;
      }
      .forms{
         vertical-align: top;
         margin: 25px;
      }
   </style>
   </head>

<body>
   <app-show-case></app-show-case>
   <a [routerLink]="['/dashboard','browse']">next</a>
   <div class="forms">
      <form class="loginForm" (submit)=Login()>
         <p>Email:</p>
         <input type="text" name="email" [(ngModel)]="credentials.email">
         <p>Password:</p>
         <input type="password" name="password" [(ngModel)]="credentials.password">
         <input type="submit" value="Login">
      </form>

      <form class="registerForm" (submit)=Register()>
         <p>First Name:</p>
         <input type="text" name="firstName" [(ngModel)]="newUser.firstName">
         <p>Last Name:</p>
         <input type="text" name="lastName" [(ngModel)]="newUser.lastName">
         <p>Email:</p>
         <input type="text" name="email" [(ngModel)]="newUser.email">
         <p>Password:</p>
         <input type="password" name="password" [(ngModel)]="newUser.password">
             <p>password must be at least 16 characters</p>  
         <p>Password confirmation:</p>
         <input type="password" name="passwordConfirm" [(ngModel)]="newUser.passwordConf">
         <input type="submit" value="Register">
      </form>
   </div>
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>